{% include 'include/header.html' %}                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">지하철역 검색</h1>
                        <!-- 검색 폼 -->
                        <div style="margin-bottom: 4px;">
                            <form id="stationSearchForm"  action="/search/search_station" method="get">
                                <input type="hidden" name="station" value="{{ station }}">
                                <div class="input-group">
                                    <input id="stationSearchInput" name="station_name" class="form-control" type="text" placeholder="역 이름 입력..." required />
                                    <button class="btn btn-primary" id="searchButton" type="submit"><i class="fas fa-search"></i></button>  <!-- submit으로 하면 경로오류 -->
                                </div>
                            </form>
                        </div>
                        <!-- 지도 표시 -->
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
                                <div id="map" style="width:100%; height:700px;"></div>
    
                                <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e2e8ebf0b1d098160667e6397c27a92"></script>
                                <script>
                                    // 서버에서 제공하는 데이터 및 API 키 전달
                                    const stationData = {{ station_data | tojson }};
                                    const kakaoApiKey = '7e2e8ebf0b1d098160667e6397c27a92';
                                
                                    // 지도 초기화 실행
                                    initializeMap(stationData, kakaoApiKey);
                                </script>
                            </div>
                        </div>
                        <!-- 실시간 정보 표시 영역 -->
                        <div class="col-xl-6">
                            <div class="card mb-4" id="realtime-info-card">
                                <div class="card-header"><i class="fas fa-subway"></i> 실시간 지하철 도착 정보</div>
                                <div class="card-body" id="realtime-info">
                                    <p>지하철역 마커를 클릭해 실시간 도착 정보를 확인하세요.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% include 'include/footer.html' %}